
<!-- Modal Agregar-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form>
              <div class="mb-3">
                <div class="mb-3">
                  <label for="ProductoDetalle" class="form-label">Producto:</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>-----</option>
                    <option value="1">Producto1</option>
                    <option value="2">Producto2</option>
                    <option value="3">Producto3</option>
                  </select>
                </div>
              <div class="mb-3">
                <label for="Cantidad" class="form-label">Cantidad:</label>
                <input type="number" class="form-control" id="Cantidad" pattern="[0-9]{1,10}" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar Detalle</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>